{% extends "base.html" %}
{% import "includes/macros_form.html" as forms %}

{% block title %}login - the mike site{% endblock %}

{% block page_content %}
<div class="centered-window">
    <h2>the mike site account login</h2>
    {{ forms.quick_form(form, legend="Account Login") }}
    <p>don't have an account yet? <a href="{{ url_for('auth.register') }}">click here to make one</a>!</p>
    <p>forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">click here to reset it</a>.</p>
</div>
{% endblock %}