{% extends "base.html" %}

{% block title %}login - the mike site{% endblock %}

{% block page_content %}
<div class="centered-window">
    <h2>the mike site account login</h2>
    <form method="POST">
        <section class="field-row" style="justify-content: center">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email(id='email-field') }}
            {{ form.password.label }} {{ form.password(id='password-field') }}
            <input type="checkbox" id="remember_me-field">
            <label for="remember_me-field">REMEMBER ME</label>
            <button type="submit">Submit</button>
        </section>
    </form>
    <p><a href="{{ url_for('auth.register') }}">don't have an account yet? click here to make one!</a></p>
</div>
{% endblock %}