/* WINDOW */

body {
    margin: 0;
    padding: 0;
}

.window {
    scale: 1;
    min-width: min-content;
    max-width: min-content;
    min-height: min-content;
    max-height: min-content;
}

div.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:
        url("/static/images/background-2.png"),
        url("/static/images/background-2-tile.png");
    background-repeat: no-repeat, repeat;
    background-position: top center, top center;
    background-size: 100%, 100% auto;
}

.centered-window {
    text-align: center;
}


/* NAVBAR */

div.navbar {
    display: flex;
    justify-content: center;
}

div.navbutton {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 4px;
}

div.navbutton img {
    padding-bottom: 4px;
}

button:disabled div.navbutton img {
    filter: grayscale(1);
    pointer-events: none;
}

nav.navbox {
    position: sticky;
    top: 0;
    z-index: 100;
}

fieldset.navbox {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 2vw;
    padding: 1em 2vw;
}

fieldset.navbox button {
    min-width: 90px;
    max-width: 90px;
}


/* FORMS */

fieldset.formbox {
    margin: 1rem;
    margin-inline: 4rem;
    padding: 1rem;
}

fieldset.formbox div.field-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

fieldset.formbox div.field-row:last-child {
    margin-bottom: 0;
}