<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}the mike site{% endblock %}</title>

    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <div style="
    display: flex;
    justify-content: center;">
    <nav>
        <a href="/">the mike site</a>
    </nav>
    </div>
    {% endblock %}

    {% block content %}
    <div class="background-container">
        <div class="window" style="width: 900px">
            <div class="title-bar">
                <div class="title-bar-text">the mike site</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>