{% extends "base.html" %}

{% block title %}the mike site{% endblock %}

{% block page_content %}
<div class="centered-window">
    <h2>☺ ~ THE MIKE SITE ~ ☺</h2>
    <p>Welcome to the mike site!</p>
    <p>You'll need an account to continue, please sign up below if you don't already have one!</p>
    <section class="field-row" style="justify-content: center">
        <button>Log-in</button>
        <button>Sign-up</button>
    </section>
    <form method="POST">
        <section class="field-row" style="justify-content: center">
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{ form.name(id='my-text-field') }}
            {{ form.submit() }}
        </section>
    </form>
</div>

{% endblock %}