{% macro post(post, moment) %}
    <fieldset>
        <div class="subject-container">
            <h4>Subject</h4>
        </div>
        <div class="content-container">
            <div class="author-container">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    <img src="{{ url_for('static', filename='avatars/' ~ post.author.avatar) }}" style="width: 40px;">
                </a>
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    {{post.author.username}}
                </a>
            </div>
            <div class="post-container">
                <div class="post-properties-container">
                    <p>No Tags</p>
                    <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
                </div>
                <div class="post-body">{{ post.body }}</div>
            </div>
        </div>
    </fieldset>
{% endmacro %}