{% import "includes/macros_ui.html" as ui %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}the mike site{% endblock %}</title>

    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="background-container">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">the mike site</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                {% block navbar %}
                <nav class="navbox">
                    <fieldset class="navbox">
                        {{ ui.nav_button('home.ico', 'HOME', href='/') }}
                        {% if current_user.is_authenticated %}
                            {{ ui.nav_button('login.ico', 'LOGIN/REGISTER', disabled=True) }}
                            {{ ui.nav_button('account.ico', 'ACCOUNT', href=url_for('auth.account')) }}
                            {{ ui.nav_button('logout.ico', 'LOGOUT', href=url_for('auth.logout')) }}
                        {% else %}
                            {{ ui.nav_button('login.ico', 'LOGIN/REGISTER', href=url_for('auth.login')) }}
                            {{ ui.nav_button('account.ico', 'ACCOUNT', disabled=True) }}
                            {{ ui.nav_button('logout.ico', 'LOGOUT', disabled=True) }}
                        {% endif %}
                    </fieldset>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% set category, message = messages[-1] %}
                        <div class="flash {{ category }}">
                            <img src="{{ url_for('static', filename='icons/' ~ category ~ '.ico') }}" />
                            {{ message }}
                        </div>
                        {% endif %}
                    {% endwith %}
                </nav>
                {% endblock %}
                {% block page_content %}{% endblock %}
            </div>
            <div class="status-bar">
                <p class="status-bar-field">the mike site</p>
                <p class="status-bar-field">there is no MOTD</p>
                <p class="status-bar-field">{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Not signed in{% endif %}</p>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
        {{ moment.include_moment() }}
        {{ moment.locale('en-gb') }}
    {% endblock %}
</body>
</html>