{% import "includes/macros_ui.html" as ui %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}the mike site{% endblock %}</title>

    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="background-container">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">the mike site</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                {% block navbar %}
                <nav class="navbox">
                    <fieldset class="navbox">
                        {{ ui.nav_button('home.ico', 'HOME', href='/') }}
                        {% if current_user.is_authenticated %}
                            {{ ui.nav_button('logout.ico', 'LOGOUT', href=url_for('auth.logout')) }}
                            {{ ui.nav_button('register.ico', 'REGISTER', disabled=True) }}
                            {{ ui.nav_button('login.ico', 'LOGIN', disabled=True) }}
                        {% else %}
                            {{ ui.nav_button('logout.ico', 'LOGOUT', disabled=True) }}
                            {{ ui.nav_button('register.ico', 'REGISTER', href=url_for('auth.register')) }}
                            {{ ui.nav_button('login.ico', 'LOGIN', href=url_for('auth.login')) }}
                        {% endif %}
                    </fieldset>
                </nav>
                {% endblock %}
                {% block page_content %}{% endblock %}
            </div>
            <div class="status-bar">
                <p class="status-bar-field">the mike site</p>
                <p class="status-bar-field">datetime</p>
                <p class="status-bar-field">{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Not signed in{% endif %}</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>