<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}the mike site{% endblock %}</title>

    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="background-container">
        <div class="window" style="max-width: 900px; scale: 1.5">
            <div class="title-bar">
                <div class="title-bar-text">the mike site</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                {% block navbar %}
                <div class="navbar">
                    <nav>
                        <a href="/"><button>HOME</button></a>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}"><button>LOGOUT</button></a>
                        {% else %}
                        <a href="{{ url_for('auth.register') }}"><button>REGISTER</button></a>
                        <a href="{{ url_for('auth.login') }}"><button>LOGIN</button></a>
                        {% endif %}
                    </nav>
                </div>
                {% endblock %}
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>