{% extends "base.html" %}
{% import "includes/macros_form.html" as forms %}
{% import "includes/macros_post.html" as ui_posts %}

{% block title %}the mike site{% endblock %}

{% block page_content %}
<div class="centered-window">
    <h3>☺ ~ THE MIKE SITE ~ ☺</h3>
    {% if current_user.is_authenticated %}
    <h4>You are logged in as {{ current_user.username }}!</h4>
    {% endif %}
    <p>Welcome to the mike site!</p>
    <div>
        {% if current_user.can(Permission.WRITE) %}
        {{ forms.quick_form(form, legend="Write Post") }}
        {% endif %}
    </div>
    <ul class="posts">
        {% for post in posts %}
        <li class="post">
            {{ ui_posts.post(post, moment=moment) }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}